# ---- Laravel ----
/vendor/
/node_modules/

/.env
.env.*
!.env.example

/storage/*.key
/storage/framework/*
/storage/logs/*

/bootstrap/cache/*.php

/public/storage
/public/hot

# ---- Testing ----
.phpunit.result.cache

# ---- Logs ----
npm-debug.log
yarn-error.log

# ---- Auth / Deploy ----
auth.json

# ---- IDEs / Editors ----
/.vscode/
/.idea/
/.fleet/

# ---- OS ----
.DS_Store
Thumbs.db

# ---- Homestead ----
Homestead.json
Homestead.yaml
